

<h2 class="animate__animated animate__fadeIn animate__faster">Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
  <app-pais-input
            (onDebounce)="sugerencias($event)"
            (onEnter)="buscar($event)"
            placeHolder = "Bucar País..."
            ></app-pais-input>
  </div>
</div>

<hr>
<ul class="list-group sugerencias">
  <li *ngFor="let pais of paisesSugeridos "
      class="list-group-item list-group-item-action"
      (click) = "buscarPais( pais.name.common)"
      >
    {{pais.name.common}}
  </li>
</ul>
<div
     *ngIf="showAlert"
     class="alert alert-danger animate__animated animate__fadeInDown animate__faster shadow-lg">
     No se encontró nada con el termino <strong>"{{termino}}"</strong>
</div>
<div *ngIf="paises.length > 0" class="row tabla">
  <div class="col">
      <app-pais-tabla [paises] = "paises"></app-pais-tabla>
  </div>
</div>
