

<div
   *ngIf="!pais; else divPais"
   class="alert alert-info animate__animated animate__fadeIn animate__faster">
   espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
           <h2>{{pais.name.official}}</h2>
    </div>
    <hr>
    <div class=" col bandera animate__animated animate__fadeIn animate__faster">
          <div >
            <img class="flag shadow-lg" [src]="pais.flags.svg" alt="pais.name.official">
          </div>
          <div *ngIf="pais.coatOfArms.png">
            <img  class="flag shadow-lg" [src]="pais.coatOfArms.png" alt="pais.name.official">
          </div>

    </div>

      <div class="col translate shadow-lg text-center">
        <div> {{pais.translations['spa']['common']}}</div>
        <div> {{pais.translations['deu']['common']}}</div>
        <div> {{pais.translations['fra']['common']}}</div>
        <div> {{pais.translations['ita']['common']}}</div>
        <div> {{pais.translations['tur']['common']}}</div>
        <div> {{pais.translations['fra']['common']}}</div>
        <div> {{pais.translations['jpn']['common']}}</div>
    </div>
    <div class="col info shadow-lg text-center backimage">
      <h6>Población: {{pais.population | number}}</h6>
      <h6>Capital: {{pais.capital}}</h6>
      <h6>Código: {{pais.cca2}}</h6>
      <h6>Código FIFA: {{pais.fifa}}</h6>
      <div class="moneda">
          <h6>Moneda:</h6>
          <div *ngFor="let item of pais.currencies | keyvalue">
                  <span *ngFor="let valor of item.value | keyvalue">
                    {{valor.value}}
                  </span>
          </div>
      </div>
    </div>

  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div class="row">
    <app-map [pais]="pais" ></app-map>
  </div>
</ng-template>
